### 1. What are escape characters, and how do you use them?

**Ans:** Escape characters are special character that has special purpose in regards of a string.
1. `\ (Custom backslash)` : It is used to insert any illegal character inside a string. 
2. `\ (Single quotes)` : It is used to insert single quotes inside a string enclosed with single quotes.
3. `\\ (backslash)` : It is used to insert a backslash inside a string.
4. `\n (New Line)` : It shifts character after `\n` in a string to new line.
5. `\r (Carriage Return` : It moves character after `\r` to the front of a string while deleting existing characters.
6. `\t (tab)` : It places a tab between characters before and after `\t` in a string.
7. `\b (backspace)` :It inserts deletes a character before `\b` in a string.

**For example:**

In [39]:
s = "shambhu is \"skilled\" in Python"
print(s)

shambhu is "skilled" in Python

In [40]:
s = 'shambhu is \'skilled\' in Python'
print(s)

shambhu is 'skilled' in Python

In [41]:
s = 'shambhu is \\skilled\\ in Python'
print(s)

shambhu is \skilled\ in Python

In [42]:
s = 'shambhu is \nskilled\nin Python'
print(s)

shambhu is
skilled
in Python

In [43]:
s = 'sambhu is skilled in programming\rPython'
print(s)

Python

In [44]:
s = 'shambhu is\tskilled in Python'
print(s)

shambhu is	skilled in Python

In [45]:
s = 'shambhu is\b skilled in Python'
print(s)

shambhu is skilled in Python

### 2. What do the escape characters n and t stand for?

**Ans:** Escape characters `'n'` and `'t'` stand for `'newline'` and `'tab'` respectively.

### 3. What is the way to include backslash characters in a string?
**Ans:** Backslash characters is `'\\'`

### 4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

**Ans:** This would create a problem when string is enclosed in `single quotes`. Then intrepretor will not be able to 
understand which is actual enclosing quotes for the string and will throw syntax error. **For example**

In [51]:
s = "Howl's Moving Castle"
print(s)

Howl's Moving Castle

In [52]:
s = 'Howl's Moving Castle'
print(s)

SyntaxError: invalid syntax (3296013669.py, line 1)

### 5. How do you write a string of newlines if you don't want to use the n character?

**Ans:** By enclosing string inside `triple quotes` and using multiple lines inside triple quotes. **For example**

In [56]:
s = """I want to become
a data scientist with 
good knowledge of 
Python, SQL, ML, DL, etc.
"""
print(s)

I want to become
a data scientist with
good knowledge of
Python, SQL, ML, DL, etc.

### 6. What are the values of the given expressions?

**Ans:**

1. `'Hello, world!'[1]`     :: Value will be `'e'`

2. `'Hello, world!'[0:5]`   :: Value will be `'Hello'`

3. `'Hello, world!'[:5]`    :: Value will be `'Hello'`

4. `'Hello, world!'[3:]`    :: Value will be `'lo, world!'`

### 7. What are the values of the following expressions?
**Ans:**
    
1. 'Hello'.upper() :: Value will be `'HELLO'`
2. 'Hello'.upper().isupper() :: Value will be `True`
3. 'Hello'.upper().lower() :: Value will be `'hello'`

### 8. What are the values of the following expressions?

1. `'Remember, remember, the fifth of July.'.split()` will be `['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']`

2. `'-'.join('There can only one.'.split())` will be `'There-can-only-one.'`

The Execution is as shown below:

In [67]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [68]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

### 9. What are the methods for right-justifying, left-justifying, and centering a string?
**Ans:**

1. `rjust()`
2. `ljust()`
3. `center()`

**For Example**

In [72]:
# rjust here fillchar * is optional
s = "My name is shubham"
s.rjust(30, '*')

'************My name is shubham'

In [76]:
# ljust here fillchar $ is optional
s.ljust(30,'$')

'My name is shubham$$$$$$$$$$$$'

In [77]:
# center here fillchar # is optional
s.center(30,'#')

'######My name is shubham######'

### 10. What is the best way to remove whitespace characters from the start or end?

**Ans:** Best way to remove whitespace characters from the start or end of string is `lstrip()` and `rstrip()` respectively. Also one more function is there called `strip()` which removes whitespaces from start and beginning of string.

**For example:**

In [79]:
# lstrip() is used to remove whitespace from start of string
s = "    My name is shubham     "
s.lstrip()

'My name is shubham     '

In [80]:
# rstrip() is used to remove whitespace from end of string
s = "    My name is shubham     "
s.rstrip()

'    My name is shubham'

In [81]:
# strip() is used to remove whitespace from start and end of string
s = "    My name is shubham     "
s.strip()

'My name is shubham'