# 1.	Write a Python program to convert kilometers to miles?

In [22]:
def km_miles(km):
    """This takes distance in Km as arg and returns distance in Miles"""
    miles = 0.621371 * km
    return "Conversion of {}  Km in Miles is {} Miles".format(km, round(miles,4))

In [23]:
km_miles(100)

'Conversion of 100  Km in Miles is 62.1371 Miles'

# 2.	Write a Python program to convert Celsius to Fahrenheit?

In [24]:
def cel_fah(cel):
    """This takes Temp in celcius as arg and returns Temp in fahrenheit"""
    fah = 1.8 * cel + 32
    return "Conversion of {}  degree celsius in degree fahrenheit is {} degree fahrenheit".format(cel, round(fah,3))

In [25]:
cel_fah(37)

'Conversion of 37  degree celsius in degree fahrenheit is 98.6 degree fahrenheit'

# 3.	Write a Python program to display calendar?

In [26]:
import calendar
def calmon(year,month):
    """This function takes year, month as args and returns calender for month in that year"""
    print(calendar.month(year,month))

In [27]:
calmon(2022,6)

     June 2022
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [28]:
import calendar
def calyear(year):
    """This function takes year as arg and returns calender for that year"""
    print(calendar.calendar(year))

In [29]:
calyear(2022)

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

# 4.	Write a Python program to solve quadratic equation?
suppose generalised quadratic equation ax**2 + bx + c = 0

In [30]:
def quadsol(a,b,c):
    """This function takes co-efficients of standard quadratic equation as args and return only real solutions"""
    disc = ((b**2)- 4*a*c)
    if disc > 0:
        x,y = (- b + disc** 0.5)/(2*a) , (- b - disc** 0.5)/(2*a)
        return "solution of given quatratic equation (real solutions) is: {} and {} ".format(round(x,3),round(y,3)) 
    elif disc < 0:
        x,y = complex((- b + disc** 0.5)/(2*a)) , complex((- b - disc** 0.5)/(2*a))
        return "solution of given quatratic equation (complex solutions) is: {} and {} ".format((round(x.real, 3) + round(x.imag, 3) * 1j),(round(y.real, 3) + round(y.imag, 3) * 1j))
    else:
        x,y = (- b + disc** 0.5)/(2*a) , (- b - disc** 0.5)/(2*a)
        return "solution of given quatratic equation (real and equal solutions) is: {} and {} ".format(round(x,3),round(y,3))

In [31]:
quadsol(1,1,44)

'solution of given quatratic equation (complex solutions) is: (-0.5+6.614j) and (-0.5-6.614j) '

In [32]:
quadsol(1,30,44)

'solution of given quatratic equation (real solutions) is: -1.546 and -28.454 '

In [33]:
quadsol(1,-8,16)

'solution of given quatratic equation (real and equal solutions) is: 4.0 and 4.0 '

# 5.	Write a Python program to swap two variables without temp variable?

In [34]:
def swap(a,b):
    """This function takes two numbers as args and returns swapped numbers"""
    l = [a,b]
    a= l[1]
    b= l[0]
    return a,b

In [35]:
a,b = swap(2,3)

In [36]:
a

3

In [37]:
b

2