# Q1. Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples

evenly_divisible(1, 10, 20) ➞ 0

 No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30

 2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18

 3 + 6 + 9 = 18

In [100]:
def evenly_divisible(a,b,c):
    """
    This func takes three nos. a,b,c as args and returns sum of all 
    nos. in range of a and b(inclusive) which are divisible by c completely. 
    """
    
    sum  = 0
    for i in range(a, b+1):
        if i % c == 0:
            sum += i
    return sum

In [101]:
evenly_divisible(1, 10, 20)

0

In [102]:
evenly_divisible(1, 10, 2)

30

In [103]:
evenly_divisible(1, 10, 3)

18

# Q2. Create a function that returns True if a given inequality expression is correct and False otherwise.
Examples

correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [104]:
def correct_signs(s):
    """
    This func takes inequality string as arg and returns boolean result of inequality.
    """
   
    return eval(s)

In [105]:
correct_signs("3 < 7 < 11")

True

In [106]:
correct_signs("13 > 44 > 33 > 1")

False

In [107]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

# Q3. Create a function that replaces all the vowels in a string with a specified character.
Examples

replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"

In [108]:
def replace_vowels(s,char) :
    """
    This func takes a string and character as args and returns string with
    all the vowels in a string replaced with a specified character.
    """
    
    s1 = ""
    for i in s:
        if i.lower() in ["a", "e", "i", "o", "u"] :
            s1 = s1 + char
        else:
            s1 = s1 + i
    return s1

In [109]:
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

In [110]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [111]:
replace_vowels("shakespeare", "*")

'sh*k*sp**r*'

# Q4. Write a function that calculates the factorial of a number recursively.
Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [112]:
def factorial(n) :
    """
    This func takes no. as arg and returns its factorial using recursion.
    """
    
    fact = 1
    if n == 0 or n == 1:
        return fact
    else:
        fact = n * factorial(n - 1)
        
    return fact

In [113]:
factorial(5)

120

In [114]:
factorial(3)

6

In [115]:
factorial(1)

1

In [116]:
factorial(0)

1

# Q5. Create a function that computes the hamming distance between two strings.
Hamming distance is the number of characters that differ between two strings. 
# Note: The character difference should be for a particular index and both strings should have equal lengths.

To illustrate:
String1: "abcbba"
String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.

Examples

hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1

In [117]:
def hamming_distance(s1, s2) :
    """
    This func takes two strings as args and returns hamming distance between two strings.
    """
    
    count = 0
    if len(s1) == len(s2): #to escape from index error
        
        for i in range(len(s1)):
            if s1[i] != s2[i]:
                count = count+1
        return count
    
    else:
        print("Both strings should be of equal lengths") #to escape from index error

In [118]:
hamming_distance("abcde", "bcdef")

5

In [119]:
hamming_distance("abcde", "abcde")

0

In [120]:
hamming_distance("strong", "strung")

1