# Q1. Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

Examples

filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [8]:
def filter_list(l):
    """
    This func takes list as arg and returns filtered list containing integers.
    """
    return [x  for x in l if type(x) == int]

In [9]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [10]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [11]:
filter_list(["Nothing", "here"])

[]

# Q2. Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

Examples

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [18]:
def add_indexes(l):
    """
    This func takes list as arg and returns the list but with each 
    element's index in the list added to itself.
    """
    count = 0
    l1 = []
    for i in l :
        l1.append((i+count))
        count += 1
    return l1

In [20]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [21]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [22]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

# Q3. Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
 
Examples

cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0.0

In [33]:
import math

def cone_volume(h,r):
    """
    This func takes height and radius of a cone and returns its volume.
    """
    vol = math.pi * r**2 * (h/3)
    return round(vol,2)

In [34]:
cone_volume(3, 2)

12.57

In [35]:
cone_volume(15, 6)

565.49

In [36]:
cone_volume(18, 0)

0.0

# Q4. Write a function that gives the number of dots with its corresponding triangle number of the sequence.
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.

Examples

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [52]:
def triangle(n):
    """
    This func takes triangle number as arg and return the 
    number of dots with its corresponding triangle number of the sequence.
    """
    sum = 0
    for i in range(1,n+1) :
        tn = 0.5 * i**2 + 0.5 * i
        sum += tn
    return int(tn)

In [53]:
triangle(1)

1

In [54]:
triangle(6)

21

In [55]:
triangle(215)

23220

# Q5. Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

Examples

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [129]:
def missing_num(l) :
    """
    This func takes list of numbers between 1 and 10 (excluding one number) 
    as arg and returns the missing number.
    """
    
    for i in range(1,11):
        if i not in l :
            return i

In [130]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [131]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [127]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7