# Q1. Create a function that takes a list of non-negative integers and strings and return a new list without the strings.

Examples

filter_list([1, 2, "a", "b"]) ➞ [1, 2]

filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]

filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

In [5]:
def filter_list(l) :
    """
    This func takes list of non-negative integers and strings as an arg
    and return a new list without the strings.
    """
    
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [6]:
filter_list([1, 2, "a", "b"])

[1, 2]

In [7]:
filter_list([1, "a", "b", 0, 15])

[1, 0, 15]

In [8]:
filter_list([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

# Q2. The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.

Examples

reverse("Hello World") ➞ "DLROw OLLEh"

reverse("ReVeRsE") ➞ "eSrEvEr"

reverse("Radar") ➞ "RADAr"

In [13]:
def reverse(s):
    """
    This func takes takes a string as an arg and returns 
    that string in reverse order, with the opposite case.
    """
    return s[::-1].swapcase()

In [14]:
reverse("Hello World")

'DLROw OLLEh'

In [15]:
reverse("ReVeRsE")

'eSrEvEr'

In [16]:
reverse("Radar")

'RADAr'

# Q3. You can assign variables from lists like this:

lst = [1, 2, 3, 4, 5, 6]

first = lst[0]

middle = lst[1:-1]

last = lst[-1]

print(first) ➞ outputs 1

print(middle) ➞ outputs [2, 3, 4, 5]

print(last) ➞ outputs 6

With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples), where:
first  ➞ 1

middle ➞ [2, 3, 4, 5]

last ➞ 6

Your task is to unpack the list writeyourcodehere into three variables, being first, middle, and last, with middle being everything in between the first and last element. Then print all three variables.

In [20]:
first, *middle, last = "writeyourcodehere"
print(first)
print(middle)
print(last)

w
['r', 'i', 't', 'e', 'y', 'o', 'u', 'r', 'c', 'o', 'd', 'e', 'h', 'e', 'r']
e

# Q4. Write a function that calculates the factorial of a number recursively.
Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [5]:
def factorial(n):
    """
    This func takes a number as arg and returns the factorial 
    of a number using recursion.
    """
    
    fact = 1
    if n == 1 or n == 0 :
        return 1
    else:
        fact = n * factorial(n-1)
        return fact

In [6]:
factorial(5)

120

In [7]:
factorial(3)

6

In [8]:
factorial(1)

1

In [9]:
factorial(0)

1

# Q5. Write a function that moves all elements of one type to the end of the list.
Examples

move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]

 Move all the 1s to the end of the array.

move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]

move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]

In [22]:
def move_to_end(l,n):
    """
    This func takes a list and one element in list as args and returns a list containing original elements ,
    but elements equal to the specified element are moved to end.
    """
    l1 = []
    l2 = []
    for i in l :
        if i == n :
            l1.append(i)
        else:
            l2.append(i)
            
    return l2 + l1

In [23]:
move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [24]:
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [25]:
move_to_end(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']