# 1.	Write a Python Program to Find the Factorial of a Number?

In [5]:
def fact_for(n):
    """This function takes number as arg and returns its factorial"""
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
        i += 1
    return "Factorial of entered number {} is {} ".format(n,fact)

In [6]:
fact_for(6)

'Factorial of entered number 6 is 720 '

In [8]:
def fact_while(n):
    """This function takes number as arg and returns its factorial"""
    i = 1
    fact = 1
    while i < n+1:
        fact = fact * i
        i += 1
    return "Factorial of entered number {} is {} ".format(n,fact)

In [9]:
fact_while(6)

'Factorial of entered number 6 is 720 '

# 2.	Write a Python Program to Display the multiplication Table?

In [1]:
def mult_table(n):
    """This func takes no. as arg and returns its multiplication table"""
    c=1
    for i in range(1,11):
        
        c=n*i
        print("{} X {} = {}".format(n,i,c))

In [2]:
mult_table(20)

20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100
20 X 6 = 120
20 X 7 = 140
20 X 8 = 160
20 X 9 = 180
20 X 10 = 200

# 3.	Write a Python Program to Print the Fibonacci sequence?

In [20]:
def fib_while(n,a,b):
    """Function takes steps, first and second number as args and returns fibonacci sequence"""
    c = 0
    i = 0
    print(a)
    print(b)
    while i < n-2:
        c= a + b
        a = b
        b = c
        i += 1
        print(c)

In [21]:
fib_while(8,1,2)

1
2
3
5
8
13
21
34

In [22]:
def fib_for(n,a,b):
    """Function takes steps, first and second number as args and returns fibonacci sequence"""
    for i in range(n):
        print(a)
        a,b = b, a+b

In [23]:
fib_for(8,1,2)

1
2
3
5
8
13
21
34

# 4.	Write a Python Program to Check Armstrong Number?

In [24]:
def check_arm(n):
    """The func takes no. as args and checks for armstrong number"""
    m = len(str(n))
    c=0
    for i in str(n):
        c = c + int(i)**m
    if c == int(n):
        return "Entered Number {} is a Armstrong Number".format(n)
    else:
        return "Entered Number {} is not a Armstrong Number".format(n)

In [25]:
check_arm(371)

'Entered Number 371 is a Armstrong Number'

# 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [26]:
def find_arm(a,b):
    """this function takes interval and returns list of all armstrong number in that interval"""
    l1 = []
    for n in range(a, b+1):
        m = len(str(n))
        c=0  
        for i in str(n):
            c = c + int(i)**m
            if c == int(n):
                l1.append(c)
    print("Armstrong Numbers in Between {} and {} is {}".format(a,b,l1))

In [27]:
find_arm(0,10000)

Armstrong Numbers in Between 0 and 10000 is [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 370, 371, 407, 1634, 6688, 8208, 9474]

# 6.	Write a Python Program to Find the Sum of Natural Numbers?

# Sum of first n natural numbers

In [34]:
def firstN_sum(n):
    """This function takes nth natural no. as arg an returns sum of first n natural nos."""
    sum = int((n*(n+1)/2))
    return "sum first {} natural numbers is {}".format(n,sum)

In [35]:
firstN_sum(100)

'sum first 100 natural numbers is 5050'

# Sum of natural numbers in an interval

In [30]:
def interval_sum(a,b):
    """This function takes two nos. as args and returns sum of natural nos. in that interval"""
    sum = 0
    if a !=0:
        for i in range(a,b+1):
            sum = sum + i
    return "sum of natural numbers between '{}' and '{}' is '{}'".format(a,b,sum)

In [31]:
interval_sum(9999,100000)

"sum of natural numbers between '9999' and '100000' is '4950064999'"