# Q1. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [8]:
def is_symmetrical(n):
    """This func that takes a number as an arg and returns True or False
    depending on whether the number is symmetrical or not."""
    
    if str(n) == str(n)[::-1] :
        return True
    else:
        return False

In [9]:
is_symmetrical(7227)

True

In [10]:
is_symmetrical(12567)

False

In [11]:
is_symmetrical(44444444)

True

In [12]:
is_symmetrical(9939)

False

In [13]:
is_symmetrical(1112111)

True

# Q2. Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [47]:
def multiply_nums(s):
    """This func takes a string of numbers separated by a comma and 
    space as arg, return the product of the numbers"""
    prod = 1
    for i in s.split(", "):
        prod = prod * int(i)
    return prod

In [48]:
multiply_nums("2, 3")

6

In [49]:
multiply_nums("1, 2, 3, 4")

24

In [50]:
multiply_nums("54, 75, 453, 0")

0

In [51]:
multiply_nums("10, -2")

-20

# Q3. Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [57]:
def square_digits(n):
    square = ""
    for i in str(n):
        square = square + str(int(i)**2)
    return int(square)

In [60]:
square_digits(9119)

811181

In [61]:
type(square_digits(9119))

int

In [62]:
square_digits(2483)

416649

In [63]:
square_digits(3212)

9414

# Q4. Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [80]:
def setify(l):
    """This func takes list as arg, sorts the list and 
    removes all duplicate items from it."""
    
    l = set(sorted(l))
    return list(l)

In [81]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [82]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [83]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Q5. Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [106]:
def mean(n):
    """This func takes no. as arg and returns the mean of all its digits"""
    
    count = 0
    sum = 0
    n = str(n) 
    
    for i in n:
        count += 1
        sum += int(i)
    mean = int(sum/count)
        
        
    return mean

In [107]:
mean(42)

3

In [108]:
mean(12345)

3

In [109]:
mean(666)

6